{{!--
    Pivot Widget \ JS Component
    ================================

    @used-by `charcoal/admin/widget/pivot`
--}}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/pivot.js }}
</script>
{{/ addJsRequirement }}

{{# addJs }}
<script src="{{# withBaseUrl }}assets/admin/scripts/pivot.js{{/ withBaseUrl }}"></script>
{{/ addJs }}

{{# addJs }}
<script>
{{!
    @see Charcoal.Admin.Widget_Pivot
}}
Charcoal.Admin.manager().add_widget({
    id: '{{ widgetId }}',
    type: 'charcoal/admin/widget/pivot',
    data: {
        obj_type: '{{ objType }}',
        obj_id: '{{ objId }}',
        target_object_type: '{{ targetObjectType }}'
    },
    widget_options: {{& widgetOptions }}
});
</script>
{{/ addJs }}
