{{!--
    Pivot Widget \ Single Object
    =================================

    @used-by `charcoal/admin/widget/pivot/list`
--}}
<article
    class="panel {{# active }}panel-default{{/ active}}{{^ active }}panel-danger{{/ active}} js-pivot"
    id="{{ widgetId }}_{{ id }}"
    data-id="{{ id }}"
    data-type="{{ objType }}">
    <header{{^ readOnly }} draggable="true"{{/ readOnly }} id="{{ widgetId }}_heading_{{ id }}" class="panel-heading">
        <h4 class="panel-title">
            <span class="panel-title-icon glyphicon glyphicon-modal-window"></span>
            <a href="object/edit?obj_type={{ objType }}&obj_id={{ id }}">{{& pivotLabel }}{{^ active }}&mdash; <span class="small">{{# _t }}Disabled{{/ _t }}</span>{{/ active }}</a>
        </h4>
    </header>
    <aside class="panel-actions panel-actions-float btn-toolbar js-pivot-actions" role="toolbar">
        {{> charcoal/admin/widget/pivot/object/actions }}
    </aside>
</article>
