var pivotWidgetL10n = {
    "relationship":    "{{# _t }}Object Relationship{{/ _t }}",
    "editObject":      "{{# _t }}Edit Object{{/ _t }}",
    "syncObject":      "{{# _t }}Sync Object{{/ _t }}",
    "syncFailed":      "{{# _t }}Failed to sync relationships{{/ _t }}",
    "confirmDeletion": "{{# _t }}Delete \"[[ childName ]]\"?{{/ _t }}",
    "delete":          "{{# _t }}Delete{{/ _t }}",
    "deleteObject":    "{{# _t }}Delete Object{{/ _t }}",
    "deleteFailed":    "{{# _t }}Failed to delete object{{/ _t }}",
    "confirmDetach":   "{{# _t }}Detach \"[[ childName ]]\" fom \"[[ parentName ]]\"?{{/ _t }}",
    "detach":          "{{# _t }}Detach{{/ _t }}",
    "detachObject":    "{{# _t }}Detach Object{{/ _t }}",
    "detachFailed":    "{{# _t }}Failed to detach relationship{{/ _t }}"
};
